

  <div class="contact-container ">
    <h2 class="text-center mb-4">Contacto</h2>
    <div class="text-center">
      <!-- Botón de contacto por correo -->
      <a href="mailto:carlosa_feliz@outlook.com?subject=Contacto%20desde%20tu%20portafolio&body=Hola%20Carlos,%20quisiera%20ponerme%20en%20contacto%20contigo."
         class="btn btn-primary">
        Contactar por Correo
      </a>
    </div>
  </div>

  <!-- Botón flotante de WhatsApp -->
  <a href="https://wa.me/8293291204" target="_blank" class="whatsapp-float">
    <i class="bi bi-whatsapp"></i>
  </a>


<!-- Botón flotante de LinkedIn -->
<a href="https://www.linkedin.com/in/carlos-alberto-feliz-recio-b1907a20a/" target="_blank" class="linkedin-float">
  <i class="bi bi-linkedin"></i>
</a>
<!-- Botón flotante de GitHub -->
<a href="https://github.com/carlosfeliz" target="_blank" class="github-float">
  <i class="bi bi-github"></i>
</a>
