<div class="home-container d-flex align-items-center justify-content-center text-white">
  <div class="text-content text-center">
    <h1 class="fw-bold"><span class="text-primary">Carlos Alberto Feliz Recio</span></h1>
    <h3 class="fw-bold">Desarrollador de Software | Frontend & Backend</h3>
    <p class="lead mb-4">Construyo experiencias digitales eficientes y dinámicas</p>
    <a routerLink="/projects" class="btn btn-primary btn-lg me-2">Ver Mis Proyectos</a>
    <a href="mailto:tucorreo@gmail.com" class="btn btn-outline-light btn-lg">Contáctame</a>
  </div>
  <div class="profile-image">
    <img src="images/yo.png" alt="Perfil" class="rounded-circle img-fluid" />
  </div>
</div>
