.project-section {
  background-color: #1a1a2e; /* Color de fondo oscuro */
  color: #ffffff;
  padding: 60px 0;
}

/* Tarjetas */
.card {
  background-color: #16213e;
  border: none;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.03);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

/* Carrusel */
.carousel-item img {
  height: 400px;
  object-fit: cover;
}

/* Tecnologías */
.tech-logo {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin: 10px;
  transition: transform 0.3s;
}

.tech-logo {
  font-size: 40px;
  margin: 10px;
}
/* Información de acceso */
.access-info p {
  margin: 0;
  font-size: 1.1rem;
  color: #0f3460;
}

/* Botones */
.btn-primary {
  background-color: #0f3460;
  border: none;
}

.btn-primary:hover {
  background-color: #0e295f;
}

/* Botón flotante de GitHub */
.github-float {
  position: fixed;
  bottom: 160px; /* Ajusta la posición vertical del botón */
  right: 20px; /* Ajusta la posición horizontal del botón */
  background-color: #333; /* Color de fondo de GitHub */
  color: #ffffff; /* Color del icono */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  z-index: 1000;
}

.github-float:hover {
  background-color: #24292e; /* Cambia a un color más oscuro al pasar el mouse */
  transform: scale(1.1); /* Aumenta ligeramente el tamaño */
}

.github-float i {
  font-size: 24px; /* Tamaño del icono */
}


/* Estilos para el botón flotante de WhatsApp */
.whatsapp-float {
  position: fixed;
  bottom: 90px; /* Ajuste para no superponer los botones */
  right: 20px;
  background-color: #25d366;
  color: #ffffff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  z-index: 1000;
}

.whatsapp-float:hover {
  background-color: #1ebe57;
}

.whatsapp-float i {
  font-size: 24px;
}

/* Estilos para el botón flotante de LinkedIn */
.linkedin-float {
  position: fixed;
  bottom: 20px; /* Espaciado entre botones */
  right: 20px;
  background-color: #0077b5;
  color: #ffffff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  z-index: 1000;
}

.linkedin-float:hover {
  background-color: #005582;
}

.linkedin-float i {
  font-size: 24px;
}

